{% extends "account/auth_base.html" %}
{% load static %}
{% block title %}Password reset{% endblock title %}
{% block style %}
<style>
label{
    display: none;
}
#id_email{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
</style>
{% endblock style %}
{% include "base/navbar.html" %}
{% block body %}
{% if validlink %}
<div class="container">
<div class="form-block col-md-4">
<form method="POST">
    {% csrf_token %}
        <div class="form_float_view"><img src="{% static 'resource/default_avatar.png' %}" class="w-100"></div>
        <div class="form-group mb-2">
            {{ form.new_password1 }}
            {{ form.new_password2 }}
        </div>
<small class="text-danger">
{{ form.new_password1.errors }}
{{ form.new_password2.errors }}
</small>
<small class="text-muted">
<ul>
    <li>Your password can’t be too similar to your other personal information.</li>
    <li>Your password must contain at least 8 characters.</li>
    <li>Your password can’t be a commonly used password.</li>
    <li>Your password can’t be entirely numeric.</li>
</ul>
</small>
<button type="submit" class="btn btn-success w-100">Save Changes</button>
</form>
</div>
</div>
{% endif %}
{% endblock body %}
{% block script %}
<script>
$(document).ready(function(){
    $("#id_new_password1").addClass("form-control mb-2");
    $("#id_new_password2").addClass("form-control");
    $("#id_new_password1").attr("placeholder", "Password");
    $("#id_new_password2").attr("placeholder", "Confirm password");
});
</script>
{% endblock script %}