{% extends "account/auth_base.html" %}
{% load static %}
{% block title %}Password reset{% endblock title %}
{% include "base/navbar.html" %}
{% block body %}
<div class="container">
<div class="col-md-8 form-block text-center pt-4">
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    We've sent you instructions for setup your new password. If any account exists with the email you entered you should receive an email shortly.
</div>
<hr class="text-muted w-50 mx-auto">
<small class="text-muted d-block">If you didn't receive any email, please make sure you've entered the address you registered with, also make sure to check your spam folder.</small>
</div>
</div>
{% endblock body %}