{% extends "base/base.html" %}
{% load static %}
{% block title %}Messages{% endblock title %}
{% block style %}
<style>
@media(min-height: 500px){
    #message_body{
    height: calc(100vh - 120px);
    }
}
@media(min-height: 700px){
    #message_body{
    height: calc(100vh - 65px);
    }
}
@media(min-height: 1000px){
    #message_body{
    height: calc(100vh - 65px);
    }
}
#message_body_header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.messages_scrollbar{
    position: relative;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;    
}
.box_wraper{
    width: 100%;
}
#g_msg_field{
    background-color: #f0f2f5;
    border-radius: 15px;
}
#g_msg_btn{
    color: #228dff;
    border: 0;
    border-radius: 50%;
}
.card-footer{
    border: none;
    background-color: #f8f8f887;
}
.logged_user_active_status{
    color: #00d600;
    font-size: 10px;
}
.message_wraper{
    width: fit-content;
}
.message_div{
    border-radius: 15px;
}
.message_div .card-header{
    border-radius: 15px 15px 0 0;
}
.message_div .message_text{
    max-width: 800px;
}
#msg_user_profile_img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#logged_user_img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#user_join_left_img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: sub;
}
</style>
{% endblock style %}
{% block body %}
<div class="row w-100 m-0">
<div class="col-lg-3 p-0 d-none d-lg-block">
{% include "private_room/sidebar.html" %}
</div>
<div class="col-lg-9 p-0">
<div style="overflow: hidden;">
<div class="card" id="message_body">
<!--card header :start-->
    <div class="card-header py-2" id="message_body_header">
    <a href="{% url 'profile' username=user_data.user.username %}" class="text-decoration-none">
    <img src="{{ user_data.profile_img }}" id="logged_user_img">
    <h6 class="text-muted d-inline ml-1">{{ user_data.user.first_name }} {{ user_data.user.last_name }}</h6>
    <i class="fas fa-circle logged_user_active_status" data-toggle="tooltip" data-placement="bottom" title="I'm online now"></i>
    </a>
    </div>
<!--card header :end-->
<!--card body :start-->
<div class="card-body px-2 pb-0 messages_scrollbar" style="background-image: url(../../static/resource/wa_bg.png); height: 100%;">
<div class="d-flex flex-column message_list">
{% if message_data %}
{% for msg in message_data %}
{% if msg.user.user.username == user.username %}
<!--msg from me (right) :start-->
<div class="message_wraper mb-3 ml-auto">
    <div class="d-flex align-items-center justify-content-end">
        <div class="card p-0 mr-1 message_div" style="background-color: #e9ffd2;">
            <div class="card-body p-0">
                <p class="mb-0 p-2 rounded message_text">{{ msg.text }}</p>
            </div>
        </div>
        <img src="{{ msg.user.profile_img }}" id="msg_user_profile_img">
    </div>
        <small class="text-muted float-right mr-5">{{ msg.timestamp }}</small>
</div>
<!--msg from me (right) :end-->
{% else %}
<!--msg from others (left) :start-->
<div class="message_wraper mb-3">
    <div class="d-flex align-items-center">
        <img src="{{ msg.user.profile_img }}" id="msg_user_profile_img">
        <div class="card p-0 ml-1 message_div">
            <div class="card-header bg-white py-0"><small class="text-muted">@{{ msg.user }}</small></div>
            <div class="card-body p-0">
                <p class="mb-0 p-2 rounded text-center message_text">{{ msg.text }}</p>
            </div>
        </div>
        </div>
        <small class="text-muted ml-5">{{ msg.timestamp }}</small>
    </div>
    <!--msg from others (left) :end-->
{% endif %}
{% endfor %}
{% else %}
{% endif %}
</div>
</div>
<!--card body :end-->
<!--card footer :start-->
    <div class="card-footer pb-1 pl-1">
    <form id="p_msg_form">
    <div class="d-flex align-items-center">
    <input type="text" class="form-control" id="p_msg_field" placeholder="type message..." autofocus>
    <button type="submit" id="g_msg_btn" class="ml-2"><i class="fas fa-paper-plane"></i></button>
    </div>
    </form>
    </div>
<!--card footer :end-->
</div>
</div>
</div>
</div>
{% endblock body %}
{% block script %}
<script>
const logged_username = "{{ user }}";
const thread_self = "{{ user.account.thread_code }}";
const thread = "{{ user_data.thread_code }}";
let protocol = "";
if(window.location.protocol == "http:"){
    protocol = "ws";
}else if(window.location.protocol == "https:"){
    protocol = "wss";
}
const socket = new WebSocket(`${protocol}://${window.location.host}/ws/${thread_self}u${thread}/`);

function msg_tone(){
    const audio = new Audio(`${window.location.protocol}//${window.location.host}/static/resource/msg_tone.mp3`);
    audio.play();
}
function scrollDown(){
    $(".messages_scrollbar").animate({
    scrollTop: $(".messages_scrollbar")[0].scrollHeight
}, 2000);
}

socket.onmessage = function(e){
    let data = JSON.parse(e.data);
	let right_msg = `<div class="message_wraper mb-3 ml-auto">
    <div class="d-flex align-items-center justify-content-end">
        <div class="card p-0 mr-1 message_div" style="background-color: #e9ffd2;">
            <div class="card-body p-0">
                <p class="mb-0 p-2 rounded message_text">${data.message}</p>
            </div>
        </div>
        <img src="${data.avatar}" id="msg_user_profile_img">
    </div>
        <small class="text-muted float-right mr-5">${data.timestamp}</small>
</div>`;
    let left_msg = `<div class="message_wraper mb-3">
    <div class="d-flex align-items-center">
        <img src="${data.avatar}" id="msg_user_profile_img">
        <div class="card p-0 ml-1 message_div">
            <div class="card-header bg-white py-0"><small class="text-muted">@${data.username}</small></div>
            <div class="card-body p-0">
                <p class="mb-0 p-2 rounded text-center message_text">${data.message}</p>
            </div>
        </div>
        </div>
        <small class="text-muted ml-5">${data.timestamp}</small>
    </div>`;
    if(logged_username == data.username){
        $(".message_list").append(right_msg);
    }else{
        msg_tone();
        $(".message_list").append(left_msg);
    }
    scrollDown();
}

$("#p_msg_form").on("submit", function(e){
    e.preventDefault();
    const msg_field = $("#p_msg_field");
    if(msg_field.val().length > 0){
        socket.send(JSON.stringify({"username": logged_username, "message": msg_field.val()}));
        msg_field.val(null);
        msg_field.focus();
    }
});

addEventListener("load", function() {
    var viewport = document.querySelector("meta[name=viewport]");
    viewport.setAttribute("content", viewport.content + ", height=" + window.innerHeight);
});
</script>
{% endblock script %}